h3{
    width:50%;
    margin:20px auto 10px auto;
    background-color: #d9ecf2;
    text-align:center;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px 0;
    color:#838383;
}